node_modules
bower_components
build
www
.idea
.DS_Store
.AppleDouble
.LSOverride
.sass-cache

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

