
@import 'lib/fred';

@import 'lib/highlight/zenburn';


/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


h1, h2, h3 {
    font-family: $serif-stack;
    font-weight: normal;
}


h1 + blockquote {
    font-family: $serif-stack;
    font-size: 1.25em;
    margin: 0;
    margin-top: 1.25em;
    margin-bottom: 3em;
}

    h1 + blockquote > p {
        font-size: 1em;
        line-height: 1.8;
    }


h3 {
    text-transform: uppercase;
}
    p + h3,
    .codedemo + h3,
    .codedemo + h2 {
        margin-top: 3em;
    }

hr {
    background: #ebefef;
    margin-top: 2em;
}

pre {
    margin-bottom: 0;
}



.content {
    text-align: left;
}

.sidebar {
    @include media('medium') {
        max-width: 16em;
    }
}

.page:before {
    content: "";
    display:block;
    min-height: 100%;
    border-right: 1px solid #e6ebeb;
    position: absolute;
    left: 0;
    top: 0;
}

    .sidebar > h1 {
        background-image: url("../images/fred-logo.png");
        background-position: 50% 0;
        background-size: auto 60%;
        background-repeat: no-repeat;
        font-size:pxem(24);
    }
    .sidebar > h1 > a {
        display: block;
        text-align: center;
        padding-top: 5em;
        color:$base-link-color;
    }
    .sidebar > h1 > a > span {
        color: #c5cec9;
    }


.sidebar .nav {
    display: block;
}
    .sidebar .nav > li {
        display: block;
        line-height: 1.75;
    }
    .sidebar .nav > li > a {
        font-family: $serif-stack;
        text-decoration: none;
        color:$base-font-color;
        display: block;
    }
    .sidebar .nav > li > a.current,
    .sidebar .nav > li > a:hover,
    .sidebar .nav > li > a:hover {
        color:$base-link-color;
    }

    .nav--h1 {
        border-bottom: 1px solid #ebefef;
        padding-bottom: .75em;
        padding-top: .75em;
    }
    .nav--h1:first-child {
        border-top: 1px solid #ebefef;
    }

    .nav--h1 + .nav--h2 {
        margin-top: .75em;
    }



.page {
    max-width:46.875em;
    @include box-sizing(border-box);
}


// code demos

.codedemo {
    position: relative;
    padding: 45px 20px 25px;
    background-color: #e8ebeb;
}
    .codedemo:after{
        content: "Example:";
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 3px 7px;
        text-transform: uppercase;
        color: #666;
        font-size: .75em;
    }



//dummy icon for this tut :)
.icon-placeholder {
    background-image:url("../images/fred-40px.png");
    width:40px;
    height:40px;
    display:inline-block;
}


@media screen and (min-width: $breakpoint-medium) and (min-height: 51em) {
    .sidebar {
        position: fixed;
    }
    .page {
        margin-left: 16em;
    }
}

