
@import 'lib/fred';

@import 'lib/highlight/zenburn';

h1, h2, h3 {
    font-family: $serif-stack;
    font-weight: normal;
}


.content {
    text-align: left;
}

.sidebar {
    padding-top: 2.5em;
    position: relative;
}
.sidebar:after {
    content: "";
    display:block;
    min-height: 100%;
    border-right: 1px solid #e6ebeb;
    position: absolute;
    right: 0;
    top: 0;
}

    .sidebar > h1 {
        background-image: url("../images/fred-logo.png");
        background-position: 50% 0;
        background-size: auto 60%;
        background-repeat: no-repeat;
        font-size:pxem(24);
    }
    .sidebar > h1 > a {
        display: block;
        text-align: center;
        padding-top: 5em;
        color:$base-link-color;
    }
    .sidebar > h1 > a > span {
        color: #c5cec9;
    }

.sidebar .nav {
    display: block;
    padding: 0 2em;
}
    .sidebar .nav > li {
        display: block;
        line-height: 1.75;
    }
    .sidebar .nav > li > a {
        font-family: $serif-stack;
        text-decoration: none;
        color:$base-font-color;
    }
    .sidebar .nav > li > a.current,
    .sidebar .nav > li > a:hover,
    .sidebar .nav > li > a:hover {
        color:$base-link-color;
    }

    .sidebar .nav > li.nav--h1 {
        border-bottom: 1px solid #ebefef;
        border-top: 1px solid #ebefef;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top:10px;
        margin-bottom:5px;
    }



.page {
    max-width:750px;
    @include box-sizing(border-box);
    padding: 0 2em 0 3.5em;
}


// code demos

.codedemo {
    position: relative;
    padding: 45px 20px 25px;
    background-color: #e8ebeb;
}

    .codedemo:after{
        content: "Example:";
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 3px 7px;
        text-transform: uppercase;
        color: #666;
        font-size: .75em;
    }




//dummy icon for this tut :)
.icon-placeholder {

    background-image:url("../images/icon-placeholder.png");
    width:40px;
    height:40px;
    display:inline-block;
}
