/**
 * State utilities
 * ----------------------------------------------------------------------------
 * Indicate that interaction will result in an (in)action.
 */

/* http://www.thecssninja.com/javascript/pointer-events-60fps */
.is-disabled,
.is-disabled * {
    cursor: default;
    pointer-events: none !important;
}

.is-draggable {
    cursor: move;
}

