/**
 * Antialias everything by default, and set the line-height.
 */
html,
body {
    @extend %fix-webkit-font-rendering;
    line-height: $base-line-height;
    font-size: 100%;
}




/**
 * onMediaQuery sets the font-family on HTML, so declare your font-family
 * on the body element instead.
 */
body {
    @extend .font-primary;
}


/**
 * Font declarations
 * ----------------------------------------------------------------------------
 */
.font-primary {
    @include font($font-primary, 400 , normal);
}

    .font-primary--italic {
        @include font($font-primary, 400 , italic);
        .ie8 & {
            font-family:$font-primary-italic;
        }
    }

    .font-primary--bold {
        @include font($font-primary, 700 , normal);
        .ie8 & {
            font-family:$font-primary-bold;
        }
    }

    .font-primary--bold-italic {
        @include font($font-primary, 700 , italic);
        .ie8 & {
            font-family:$font-primary-bold-italic;
        }
    }

.sans       { font-family:$sans-serif-stack; }
.serif      { font-family:$serif-stack; }

.font-size-xxxxl                { font-size: px-to-em($font-size-xxxxl);}
.font-size-xxxl                 { font-size: px-to-em($font-size-xxxl);}
.font-size-xxl                  { font-size: px-to-em($font-size-xxl);}
.font-size-xl                   { font-size: px-to-em($font-size-xl);}
.font-size-l                    { font-size: px-to-em($font-size-l);}
.font-size-m                    { font-size: px-to-em($font-size-m);}
.font-size-s                    { font-size: px-to-em($font-size-s);}
.font-size-xs                   { font-size: px-to-em($font-size-xs);}
.font-size-xxs                  { font-size: px-to-em($font-size-xxs);}
.font-size-xxxs                 { font-size: px-to-em($font-size-xxxs);}


/**
 * Headings
 * ----------------------------------------------------------------------------
 */
h1, h2, h3, h4, h5, h6 {
    @extend .mb--0;
    &:first-child {
        @extend .m--0;
    }
}


/**
 *  3. Paragraph styles
 * ----------------------------------------------------------------------------
 */

.intro {
    @extend .font-size-s;
}

.small {
    @extend .font-size-xxs;
}

.tiny {
    @extend .font-size-xxxs;
}
.caption {

}
.pullquote {

}


/**
 * 5. hr
 * ----------------------------------------------------------------------------
 */

hr {
    border: none;
    height: 1px;
}


/**
 * Text helpers
 * ----------------------------------------------------------------------------
 */
.uppercase      { text-transform:uppercase; }
.lowercase      { text-transform:lowercase; }

.text-align--left       { text-align: left; }
.text-align--right      { text-align: right; }
.text-align--center     { text-align: center; }
.text--nowrap           { white-space: nowrap; }

.text--overflow {
    @extend .inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

